<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
	<!-- 대소문자완전구분함. null 값 처리  -->
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="mapUnderscoreToCameLCase" value="true"/>

	</settings>

</configuration>
